.b-accordion {
	.accordion__item {

		&.__level-one {
			border-top: 1px solid #ccc;
			background: #aaa;

			&:first-child {
				border-top: none;
			}

			.accordion__list {
                overflow: hidden;
                transition: height .4s ease;
			}

			&.__is-active,
			&:hover {
				& > .accordion__link {
					.accordion__button-text,
					.accordion__icon {
						border-color: $hover;
						color: $hover;
					}
				}
			}

			&.__is-active {
                & > .accordion__list {
                    height: auto;
                }

				.accordion__icon {
					transform: rotate(90deg);
				}
			}
		}

		&.__level-two {
			border-top: 1px solid #eee;
			background: #ccc;

			&:first-child {
				border-top: none;
			}

			&.__is-active {
				& > .accordion__link {
					.accordion__button-text,
					.accordion__icon {
						border-color: $hover;
						color: $hover;
					}
				}
			}
		}
	}

	.accordion__link {
		display: block;
		position: relative;

		&:hover {
			.accordion__button-text,
			.accordion__icon {
				border-color: $hover;
				color: $hover;
			}
		}
	}

	.accordion__button {
		position: relative;
		display: block;
		height: 50px;
		width: 100%;
		font-size: 14px;
		font-weight: inherit;
		padding: 0 40px 0 20px;
		outline: none;
        cursor: pointer;
	}

	.accordion__button-text {
		border-bottom: 1px solid transparent;
		color: $accordion-link-color;
		@include hover-color-border-transition;
	}

	.accordion__icon {
		display: block;
		position: absolute;
		top: 50%;
		right: 18px;
        width: 6px;
        height: 10px;
		margin-top: -6px;
		transition: transform .4s ease, color .2s ease;
	}
}
