.b-cards {
    &:after {
		content: '';
		display: block;
		clear: both;
    }

    .cards__item {
        float: left;
		width: 33.33333333%;
		padding: 15px;
    }
}

@media screen and (max-width: $tablet-large-breakpoint) {
	.b-cards {
		.cards__item {
			width: 50%;
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-cards {
		.cards__item {
			width: 100%;
		}
	}
}
