.b-card	{
	display: block;
	padding: 30px 30px 40px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
	transition: box-shadow .2s ease-in, border-bottom-color .2s ease-in;

	&:hover {
		border-bottom-color: #fff;
		box-shadow: -1px 7px 21px -5px rgba(0,0,0,0.75); 
	}

	.card__id {
		margin-bottom: 10px;
		color: $hover;
	}

	.card__name {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 18px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.card__thumbnail {
		display: block;
		max-width: 100%;
		width: 100%;
		height: auto;
		border: 1px solid #dedde1;
	}

	.card__shopping {
		min-height: 16px;
		margin-top: 20px;
		font-size: 14px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.card__price {
		float: left;
	}

	.card__order {
		float: right;
		color: $hover;
		border-bottom: 1px solid transparent;
		transition: border-color .2s ease;

		&:hover {
			border-color: $hover;
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-card {
		&:hover {
			border-bottom-color: #ccc;
			box-shadow: none;
		}	
	}
}