.b-card {
  display: block;
	padding: 30px 30px 40px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
	transition: box-shadow .2s ease-in, border-bottom-color .2s ease-in;
}

.b-card.__shopping-is-disabled {
  padding-bottom: 60px;
}

.b-card:hover {
  border-bottom-color: #fff;
  box-shadow: -1px 7px 21px -5px rgba(0,0,0,0.75);
}

.card__id {
  margin-bottom: 10px;
  color: var(--hover);
}

.card__name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__thumbnail {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 1px solid #dedde1;
}

.card__shopping {
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin-top: 20px;
  font-size: 14px;
}

.card__price {
}

.card__order {
  color: var(--hover);
  border-bottom: 1px solid transparent;
  transition: border-color .2s ease;
}

.card__order:hover {
  border-color: var(--hover);
}


/* --phone-breakpoint: 576px; */
@media screen and (max-width: 576px) {
  .b-card:hover {
    border-bottom-color: #ccc;
    box-shadow: none;
  }
}
