.b-content {
	padding: 30px 20px 50px;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.content__section {
		margin-bottom: 30px;
	}

	.content__card {
		float: left;
		width: 33.33333333%;
		padding: 15px;
	}

	.content__subheader {
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		color: #5e0004;
	}

	.content__paragraph {
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 1.4;
		text-align: justify;
	}

	.content__info {
		font-size: 26px;
	}

	.content__mail-link {
		text-decoration: underline;
	}

	.content__paragraph,
	.content__mail-link {
		&.__color {
			color: #5e0004;
		}
	}
}

@media screen and (max-width: $tablet-large-breakpoint) {
	.b-content {
		.content__card {
			width: 50%;
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-content {
		padding: 15px 5px 30px;

		.content__inner {
			padding: 0 20px;
		}

		.content__card {
			width: 100%;
		}
	}
}
