.locales__items {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
}

.locales__items-inner {
  display: flex;
  gap: 20px;
}

.locales__item {
  height: 100px;
  width: 100px;
  padding-top: 26px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 4px;
  color: var(--overlay-text-color);
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  transition: border-color 0.2s ease;
  cursor: pointer;
}

.locales__item.__is-active,
.locales__item:hover {
  border-color: var(--hover);
}

/* --phone-breakpoint: 576px;  */
@media screen and (max-width: 576px) {
  .locales__items {
    top: 100px;
    left: 10%;
    right: 10%;
  }

  .locales__item {
    width: 60px;
    height: 60px;
    padding-top: 16px;
    font-size: 24px;
  }
}
