.b-locales {

	.locales__items {
        position: absolute;
        top: 40%;
        left: 20%;
        right: 20%;
        text-align: center;
    }

    .locales__items-inner {
        display: inline-block;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

	.locales__item {
		float: left;
		height: 100px;
		width: 100px;
		margin-left: 20px;
		padding-top: 26px;
		border: 1px solid rgba(255,255,255,0.25);
		border-radius: 4px;
		color: $overlay-text-color;
		text-transform: uppercase;
		font-size: 40px;
		text-align: center;
        transition: border-color 0.2s ease;
        cursor: pointer;

		&:first-child {
			margin-left: 0;
		}

		&.__is-active,
		&:hover {
			border-color: $hover;
		}
	}

	@media screen and (max-width: $phone-breakpoint) {
        .locales__items {
            top: 100px;
            left: 10%;
            right: 10%;
        }

		.locales__item {
			width: 60px;
			height: 60px;
			padding-top: 16px;
			font-size: 24px;
		}
	}
}
