.b-logo	{
	position: relative;
	top: 7px;
	display: block;
	width: 137px;
	height: 60px;
	color: #000;
}

/* --phone-breakpoint: 576px;  */
@media screen and (max-width: 576px) {
	.b-logo {
		width: 114px;
		height: 50px;
	}
}
