.b-nav {
	.nav__list {
		position: relative;
		top: 2px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.nav__item {
		float: left;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}

	.nav__link {
		border-bottom: 1px solid transparent;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		color: #f0f0f0;
		line-height: 67px;
		@include hover-color-border-transition;

		&:hover,
		&.__is-active {
			color: $top-nav-hover;
			border-color: $top-nav-hover;
		}
	}
}

@media screen and (max-width: $tablet-medium-breakpoint) {
	.b-nav {
		.nav__item {
			display: none;
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-nav {
		.nav__link {
			line-height: 57px;
		}
	}
}