.b-overlay {
    display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(20,22,24,0.95);
	opacity: 0;
    z-index: 10;
    transition: opacity .4s ease;

    &.__light {
        background-color: rgba(0,0,0,0.5);
    }

    &.__visible {
        opacity: 1;
    }

	.overlay__close {
		position: absolute;
		top: 25px;
		right: 25px;
		width: $default-icon-size;
		height: $default-icon-size;
		color: $overlay-text-color;
		background-size: $default-icon-size $default-icon-size;
		cursor: pointer;
		@include hover-color-transition;

		&:hover {
			color: $hover;
		}
	}
}
