.b-page {
	height: 100%;
	position: relative;
	min-width: $min-width;
	color: #333;

	.page__header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.page__title {
		height: 380px;
	}

	.page__content {
		min-height: calc(100% - 380px - #{$footer-height});
		background-color: #f7f8fa;
	}

	.page__content-inner {
		max-width: $desktop-breakpoint;
		margin: 0 auto;
	}

	.page__footer {
		height: $footer-height;
	}	
}

@media screen and (min-width: $wide-desktop-breakpoint) {
	.b-page {
		.page__title {
			height: 440px;
		}

		.page__content {
			min-height: calc(100% - 440px - #{$footer-height});
		}
	}
}

@media screen and (min-width: $x-wide-desktop-breakpoint) {
	.b-page {
		.page__title {
			height: 480px;
		}

		.page__content {
			min-height: calc(100% - 480px - #{$footer-height});
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-page {
		.page__title {
			height: 300px;
		}

		.page__content {
			min-height: calc(100% - 300px - #{$footer-height});
		}
	}
}