.b-search {
  text-align: center;
}

.search__input {
  width: 600px;
  height: 80px;
  padding: 1px 80px 2px 40px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  line-height: 78px;
  background: none;
  color: var(--top-nav-hover);
  font-size: 30px;
}

.search__input:focus {
  border-color: var(--top-nav-hover);
}

.search__input::placeholder {
  color: var(--overlay-text-color);
}

/* --tablet-large-breakpoint: 992px; */
@media screen and (max-width: 992px) {
  .search__input {
    height: 50px;
    width: 100%;
    padding: 1px 50px 1px 20px;
    line-height: 48px;
    font-size: 16px;
  }
}
