@mixin set-icon-size($size) {
	width: $size;

	.icon {
		width: $size;
		height: $size;
		margin-top: -$size/2;
		background-size: $size $size;
	}
}

.b-utils {
	pointer-events: auto;

	.utils__list {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.utils__item {
		position: relative;
		float: left;
		height: 67px;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			color: #fff;
			cursor: pointer;
			@include hover-color-transition;

			&:hover {
				color: $top-nav-hover;
			}
		}

		&.__menu,
		&.__sidebar {
			display: none;
		}

		&.__shopping {
			margin-right: 0;
		}

		&.__search,
		&.__sidebar {
			@include set-icon-size($default-icon-size);
		}

		&.__menu,
		&.__shopping,
		&.__locale {
			@include set-icon-size($default-icon-size + 2);
		}

		&.__is-active {
			.icon {
				color: $top-nav-hover;
			}
		}	
	}
}

@media screen and (max-width: $tablet-medium-breakpoint) {
	.b-utils {
		.utils__item.__menu,
		.utils__item.__sidebar {
			display: block;
		}

		.utils__item.__shopping {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: $phone-breakpoint) {
	.b-utils {
		.utils__item {
			height: 57px;
			
			&.__sidebar,
			&.__search {
				@include set-icon-size($phone-default-icon-size);
			}

			&.__menu,
			&.__shopping,
			&.__locale {
				@include set-icon-size($phone-default-icon-size + 2);
			}
		}
	}
}